* {
	margin:0;
	padding:0;
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
}
body{
	background-color: yellow;
}
h3{
	font-size: 2vw;
	background-color: white;
	padding-bottom: 1vw;
}
p {
	font-size: 2vw;
	margin-bottom: 1vw;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#container{
	position:relative;
	z-index: 5;
	padding:4vw;
}
#container > div{
	display: inline-block;
	vertical-align: top;
	width:32%;
	margin-right: 1%;
}
#exercise1{
	width:100vw;
	height:100vh;
	position:fixed;
	z-index:1;
	/*color:yellow;*/
	font-size:34vw;
	top:-3vw;
	text-align: center;
	pointer-events:none;
}
#exercise1 h1{
	font-weight: 100;
	color:blue;

}
#title{
	font-size: 6vw;
}
#title div{
	position:absolute;
	height:0.8vw;
}
#title div:last-of-type{
	margin-top:4.8vw;
}
#title h2{
	background-color: white;
	line-height: 0.8em;
	padding-top: -1vw;
}

.subtitle{
	display: inline-block;
	margin-bottom: 2vw;

}
#list div{
	background-color: white;
	/*margin-bottom: 1vw;*/
	display: inline-block;
}
.circle{
	width:3vw;
	height:3vw;
	border-radius: 50%;
	background-color: blue;
	position:absolute;
}
.circle:first-of-type{
	top:19.5vw;
	left: 28.5vw;
}
.circle:last-of-type{
	top:19.5vw;
	left: 77.5vw;
}

